<header>
	<nav align="center">
	  <a href="trivia.html">TRIVIA</a> |
	  <a href="usuarios.html">USUARIOS</a> |
	  <a href="noticias.html">NOTICIAS </a> |
	  <a href="#">SALIR</a> 
	</nav>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="css/w3.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</header>
<body ng-app="moduleTrivia">
	<div ng-controller="triviaController">
		<h1><center>PANEL DE TRIVIA</center></h1>
		<div name="divAgregarPreguntas">
			<h2><center>INGRESAR NUEVAS PREGUNTAS</center></h2>
			<form name="formAgregarPregunta" ng-submit="agregarPregunta(pregunta,hint,respuesta)">
				<input placeholder="Pregunta" ng-model="pregunta"></input> <br/>
				<input placeholder="Hint" ng-model="hint"></input> <br/>
				<input placeholder="Verdadero o Falso" ng-model="respuesta">
				<br/><br/>
				<input type="submit" value="Agregar Pregunta"></button>
			</form>
		</div>
		<div name="divEliminarPregunta">
			<center><h2>ELIMINAR PREGUNTA POR ID</h2>
			<input style="width:200px" ng-model="idPreguntaEliminar" placeholder="Ingrese ID de pregunta a eliminar"></input> <br/>
			<button class="w3-btn w3-julian" ng-click="eliminarPregunta(idPreguntaEliminar)">Eliminar Pregunta</button></center>
			<br/>
			<center><button class="w3-btn w3-julian" name="cargarPreguntas" ng-click="cargarPreguntas()">Cargar Preguntas</button></center>
			<br/>
			<center><table style="width:70%" class="w3-table w3-centered w3-bordered">
				<thead>
			      <tr>
			        <th><center>ID</center></th>
			        <th><center>PREGUNTA</center></th>
			      </tr>
			    </thead>
			    <tbody>
					<tr style="width:80%"  ng-repeat="pregunta in preguntas | filter:searchText">
						<td><center>{{pregunta.id}}</center></td>
						<td><center>{{pregunta.pregunta}}</center></td>
					</tr>
				</tbody>
			</table></center>
		</div>
	</div>
</body>